<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{fragments/layout-web :: layout (~{::main}, 'login')}">
<head>
    <title th:text="#{label.login.title}">Please Log In</title>
</head>
<body>
<main role="main" class="pb-3">
    <div class="card">
        <div class="card-header clearfix">
            <span th:text="#{label.login}">Sign in</span>
            <div class="float-right">or <a th:href="@{/user/register}" th:text="#{label.registration}">create an account</a></div>
        </div>
        <div class="card-body">
            <div class="alert alert-danger" th:if="${param.error}" th:text="#{alert.login.failed}">
                Invalid username and password.
            </div>
            <div class="alert alert-success" th:if="${param.logout}" th:text="#{alert.logout.success}">
                You have been logged out.
            </div>
            <div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}"></div>
            <form id="loginForm" action="#" th:action="@{/user/login}" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="email" th:text="#{entities.user.email}">Email</label>
                        <input type="email" class="form-control" name="email" id="email"
                               placeholder="Your email" autofocus="autofocus" required>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{entities.user.password}">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Your Password" required>
                    </div>
                    <div class="form-group clearfix">
                        <label for="remember-me">
                            <input type="checkbox" name="remember-me" id="remember-me"> <span th:text="#{form.label.saved}">Keep me logged in</span>
                        </label>
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary btn-block" th:text="#{form.button.login}">Sign in</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div><!-- /.card-body -->
    </div><!-- /.card -->
</main>
</body>
</html>
