<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{fragments/layout-web :: layout (~{::main}, 'login')}">
<head>
    <title>Register</title>
</head>
<body>
<main role="main" class="pb-3">
    <div class="card">
        <div class="card-header clearfix">
            <span th:text="#{label.registration}">Register</span>
            <div class="float-right">or <a th:href="@{/user/login}" th:text="#{label.login}">sign in</a></div>
        </div>
        <div class="card-body">
            <div th:if="${#fields.hasErrors('${user.*}')}" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('${user.*}')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <form action="#" th:action="@{/user/signup}" th:object="${user}" method="post">
                <fieldset>
                    <div class="form-group">
                        <label th:text="#{entities.user.name}">Name</label>
                        <input type="text" class="form-control" th:field="*{name}">
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">Name
                            Error</p>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entities.user.email}">Email</label>
                        <input type="text" class="form-control" th:field="*{email}">
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback">Email
                            Error</p>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entities.user.password}">Password</label>
                        <input type="password" class="form-control" th:field="*{password}"
                               placeholder="Password">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback">
                            Password Error</p>
                    </div>
                    <div class="form-group">
                        <label th:text="#{entities.user.confirmPassword}">Confirm Password:</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}"
                               placeholder="Password">
                        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                           class="invalid-feedback">Confirm Password Error</p>
                    </div>
                    <div class="form-group clearfix">
                        <button type="submit" class="btn btn-primary btn-block" th:text="#{form.button.registration}">Sign
                            up
                        </button>
                    </div>
                </fieldset>
            </form>
        </div><!-- /.card-body -->
    </div><!-- /.card -->
</main>
</body>
</html>
