<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{fragments/layout-admin :: layout (~{::main}, 'singers')}">
<head>
    <title>Add New Song :: AnhNBT</title>
</head>
<body>
<main role="main" class="pb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin" th:text="#{title.dashboard}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/singers" th:text="#{title.singers.list}">Singers</a></li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <span th:text="#{button.create}">Add New Singers</span>
            <a href="/admin/singers" class="btn btn-link btn-sm float-right" th:text="#{label.back}">Back</a>
        </div>
        <div class="card-body">
            <div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}"></div>
            <div th:if="${#fields.hasErrors('${singer.*}')}" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('${singer.*}')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <div class="alert alert-primary" th:if="${message}" th:text="${message}"></div>

            <form th:action="@{/admin/singers/create}" th:object="${singer}" method="post" enctype="multipart/form-data">
                <div class="row form-group">
                    <label class="col-form-label col-md-2 " th:text="#{title.singername}">Singer name</span>:

                    </label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{name}" class="form-control" required
                               th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback" th:text="#{title.singername}">
                        Singer Name
                            Error</p>
                    </div>

                </div>
                <div class="row form-group">
                    <label class="col-form-label col-md-2" th:text="#{title.description}">Description <span
                            class="text-danger">*</span>:</label>
                    <div class="col-md-10">
                        <textarea  class="form-control" th:field="*{description}"
                                   th:classappend="${#fields.hasErrors('description')}? 'is-invalid'"
                                  cols="30" rows="10" required>

                        </textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback">Description
                            Error</p>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-form-label col-md-2">Avatar:</label>
                    <div class="col-md-10">
                        <input type="file" th:field="*{imageData}" class="form-control"
                               th:classappend="${#fields.hasErrors('imageData')}? 'is-invalid'">
                        <input type="hidden" th:field="*{avatarURL}">
                        <p th:if="${#fields.hasErrors('imageData')}" th:errors="*{imageData}" class="invalid-feedback">Image
                            Error</p>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-form-label col-md-2">Cover:</label>
                    <div class="col-md-10">
                        <input type="file" th:field="*{coverFile}" class="form-control"
                               th:classappend="${#fields.hasErrors('coverFile')}? 'is-invalid'">
                        <input type="hidden" th:field="*{coverURL}">
                        <p th:if="${#fields.hasErrors('coverFile')}" th:errors="*{coverFile}" class="invalid-feedback">Image
                            Error</p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" th:text="#{button.create}" >Create singer</button>
                    <a href="/admin/singers" class="btn btn-link" th:text="#{button.cancel}">Cancel</a>
                </div>
            </form>

        </div>

    </div>




<footer th:replace="/admin/singer/layout :: footer"></footer>

</main>
</body>
</html>
